* {
	box-sizing: border-box;
}

h3 {
    margin: 0;
}

.pacific {
    font-family: "Pacifico", cursive;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

.morado {
    color: #4B138A;
}

.blanco {
    color: #FFF;
}

.negro {
    color: #000;
}

.titulos {
    font-size: 2.2em;
}

.icono-1 {
    width: 11%;
    margin-right: 0.5em;
}

.icono-2 {
    width: 6%;
    margin-right: 0.5em;
}

.icono-3 {
    width: 4.8%;
    margin-right: 0.5em;
}

.inline {
    display: inline-block;
}

/* Portada */

.title h1 {
    font-size: 5.2em;
}

.title .study {
    font-size: 2.8em;
}

.header {
    position: relative;
    background-color: #4B138A;
    height: 100vh;
}

.nav-corner {
    width: 100%;
    height: 6em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-corner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #4B138A;
    z-index: -1;
    bottom: : 0;
    transform-origin: left bottom;
    transform: skewY(-8deg);
}

.menu {
    font-size: 1.8em;
    color: #FFF;
}

.content-menu {
    padding: 1.4em;
}

.name {
    padding-top: 13em;
}

.down {
    color: #FFF;
    position: absolute;
    right: 1em;
    top: 13.5em;
    z-index: 5;
    font-size: 3em;
}

.down:hover  {
    color: #C7063D;
}

/* About */

.about {
    z-index: -5;
    height: 100vh;
    padding-top: 4em;
}

.image{
    background-image: url("../img/perfil1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: inset 0px 0px 55px 13px rgba(33, 30, 30, 0.8);
}

.pd-top {
    padding-top: 3.5em;
}

.descrip {
    font-size: 1.4em;
    padding-top: 0.8em;
}

.pd-l {
    padding: 0 3em;
}

.pin {
    padding-top: 1.5em;
}

.pines {
    width: 16%;
}

.badges {
    margin-bottom: 1.2em
}

.pad-top {
    padding-top: 0.5em;
}

/* Skills */

.skills {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 6em;
}

.habilidades {
    margin-bottom: 1.2em;
}

.habilidades .hvr-pop {
    display: inline-block;
    font-size: 5.5em;
    padding: 0.15em;
}

.habilidades .hvr-pop:hover {
    background: #4B138A; 
    color: #FFF;
}

.pd-top-hab {
    padding-top: 2.5em;
}

.sub-skills {
    font-size: 1.5em;
    font-weight: bold;
}

/* Proyectos */

.projects {
    height: 157vh;
    width: 100%;
    position: relative;
}

.oculto {
    display: none;
}

.top {
    padding-top: 6em;
}

.boton {
    background-color: #4B138A;
    font-family: "Lato", sans-serif;
}

.boton:hover {
    color: #FFF;
}

.projects .top h3 {
    margin-bottom: 0.8em;
}

.pd-work {
    padding-top: 2.5em;
}

.shadow {
    box-shadow: 0px 9px 5px 0px rgba(189, 183, 189, 1);
    width: 90%;
    position: relative;
}

.work {
    width: 100%;
}

.tamanio-w {
    width: 100%;
}

.code {
    background-color: #4B138A;
}

.code:hover {
    color: #FFF;
}

.info {
    padding: 1em;
}

.icon {
    font-size: 2.5em;
    color: #4B138A;
}

.absolute {
    position: absolute;
    right: 1.2em;
}

.absolute-dos {
    position: absolute;
    right: 4em;
}

.absolute-tres {
    position: absolute;
    right: 7em;
}

/* Footer */

.contacto {
    background: linear-gradient(45deg, rgba(75, 19, 138, 1) 0%, rgba(199, 6, 61, 1) 100%);
    position: relative;
    height: 48vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.pdtop {
    padding-top: 4em;
}

.contacto h3 {
    margin: 0;
}

.contact {
    font-size: 3.5em;
}

.cv {
    background-color: #FFF;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

.tamanio {
    font-size: 1.5em;
}

.tamanio:hover {
    text-decoration: none;
    color: #FFF;
}

.mail {
    width: 10%;
}

.icon-footer {
    width: 28%;
}

.icon-github {
    width: 100%;
    margin-left: -4em;
}

.correo {
    padding-top: 1.5em;
}

.pd-fot {
    padding-top: 3em;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* Menú */

.menu:hover  {
    color: #C7063D;
}

.desplegable {
    height: 100vh;
    width: 100%;
    background-color: #4B138A;
    position: fixed;
    z-index: 5;
    top: 0;
    overflow-y: hidden;
}

.remove {
    font-size: 2.8em;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

.lista {
    padding-top: 5em;
}

.lista .decoration {
    margin: 0;
    padding: 0;
}

.decoration li {
    list-style: none;
    margin-bottom: 1.2em;
}

.decoration li a {
    color: #FFF;
    font-size: 3em;
}

.decoration li a:hover {
    text-decoration: none;
    color: #C7063D;
}

.icon-in {
    width: 55%;
}

.icon-git {
    width: 75%;
}

.redes {
    padding-top: 2em;
}

.puntos {
    font-size: 2.8em;
}

.remove:hover {
    color: #C7063D;
}