@media (max-width: 767px) {

	.content-menu {
		width: 100%;
	}

	.title {
	    top: 12em;
	    left: 2em;
	}

	.title h1 {
    	font-size: 3em;
	}

	.title .study {
    	font-size: 1.8em;
	}

	.name {
		height: 100vh;
	}

	.image {
		width: 180px;
    	height: 180px;
	}

	.descrip {
    	font-size: 1em;
	}

	.pd-top {
		padding-top: 1.5em;
	}

	.pines {
		width: 27%;
	}

	.pad-top-q {
		padding-top: 1.2em;
	}

	.titulos {
    	font-size: 1.8em;
	}

	.top {
		padding-top: 4.5em;
	}

	.skills {
		padding-top: 4em;
		height: 52vh;
	}

	.habilidades .hvr-pop {
	    font-size: 3em;
	    padding: 0.1em;
	}

	.pd-top-hab {
		padding-top: 1em;
	}

	.sub-skills {
    	font-size: 0.8em;
	}

	.projects {
	    height: 292vh;
	}

	.icon {
		font-size: 2em;
	}

	.ocultar {
		display: none;
	}

	.height {
		height: 360vh;
	}

	.decoration li a {
	    font-size: 2em;
	}

	.icon-in {
	    width: 42%;
	}

	.icon-git {
	    width: 62%;
	}

	.remove {
		font-size: 2em;
	}

	.contact {
    	font-size: 2.5em;
	}

	.mail {
		width: 20%;
	}

	.correo {
		text-align: center;
		padding-top: 2em;
	}

	.pd-fot {
 	   padding-top: 3em;
	}

	.right {
		text-align: center;
	}

	.left {
		text-align: center;
	}

	.contacto {
		height: 70vh;
	}

	.pdtop {
    	padding-top: 3em;
	}
	
	.icono-1 {
	    width: 18%;
	}

	.icono-2 {
	    width: 13%;
	}

	.icono-3 {
	    width: 12%;
	}
}

@media (min-width: 768px) and (max-width: 992px){
	
	.title {
	    top: 13em;
	    left: 6em;
	}

	.title h1 {
	    font-size: 4.5em;
	}

	.title .study {
    	font-size: 2.5em;
	}

	.image {
		width: 270px;
    	height: 270px;
	}

	.icono-1 {
		width: 18%;
	}

	.icono-2 {
		width: 10%;
	}

	.icono-3 {
		width: 8%;
	}

	.habilidades .hvr-pop {
	    font-size: 4em;
	}

	.top {
		padding-top: 0em;
	}

	.skills {
		padding-top: 6em;
		height: 86vh;
	}

	.projects {
		height: 312vh;
	}

	.shadow {
		width: 65%;
	}

	.contacto {
		height: 47vh;
	}

	.right {
	    text-align: right;
	}

	.left {
	    text-align: left;
	}

	.left-v {
		text-align: left;
	}

	.decoration li a {
	    font-size: 2.5em;
	}

	.remove {
	    font-size: 2.5em;
	}

	.height {
		height: 368vh;
	}

	.titulo {
		font-size: 1.9em;
	}

	.descrip {
		font-size: 1em;
	}

	.pad-top {
	    padding-top: 1.5em;
	}

	.mail {
		width: 15%;
	}
}